body {
    background-color: azure;
    font-family: "American Typewriter";
    font-size: 15px;
}

.container {
    display:grid;
    grid-template-columns: 170px 80px 100px;
    grid-gap: 6px;
}

label p {
    grid-column: 1 / 2;
}

p {
    border: 1px solid grey;
    padding-left: 2px;
}

input {
    grid-column: 2 / 3;
    
}

button {
    grid-column: 3 / 3;
}


